.service {
  box-sizing: border-box;
  position: relative;
  font-family: var(--fontPrimary);
  z-index: 100;
  background-color: var(--colorBlack);
}

.serviceContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 5% 0;
  display: grid;
  gap: var(--margin-xl);
}

.serviceList {
  display: grid;
  gap: var(--margin-xxl);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.serviceTitle {
  text-align: center;
  background-color: var(--colorPrimary);
  border-radius: 4px;
  width: max-content;
  justify-self: center;
  text-align: center;
  color: var(--colorBlack);
  letter-spacing: 0.5px;
  font-weight: bold;
  padding: 6px 24px;
  font-family: var(--fontPrimary);
}

.serviceAdnotation {
  color: var(--colorPrimary);
}
