.map {
  position: relative;
  padding: 100px 0 200px;
  display: grid;
  gap: var(--spacing-xl);
  background-color: var(--colorBlack);
}

/* TODO: add map integration from google api */

.map::after {
  bottom: 0;
  left: 0;
  content: "";
  position: absolute;
}

.mapContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
  display: grid;
  gap: var(--margin-xl);
  width: 100%;
}

.mapTitle {
  justify-self: center;
  padding: 6px 24px;
  border-radius: 4px;
  background-color: var(--colorPrimary);
  color: var(--colorBlack);
}

.maps {
  display: grid;
  gap: 5%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.mapWrapper {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  justify-self: stretch;
}

.mapIframeHeader {
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--colorPrimary);
}

.mapIframeTitle {
  color: var(--colorBlack);
  font-family: var(--fontPrimary);
  margin: 0;
  text-align: center;
}

.mapWrapper iframe {
  height: 300px;
  width: 100%;
  border: 1px solid var(--colorPrimary);
  box-sizing: border-box;
}
